/* -----Reset css----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ------Header------ */
#header{
    display: flex;
    justify-content: space-between;
    padding: 24px;
}
#navigation{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
#name{
    padding: 0px 20px;
}
#name>h1{
    color: blue;
}
#navigation>li{
    color: rgb(124, 115, 115);
    padding: 0px 20px;
}
#navigation>li:hover{
    color: black;
}
/* -----Content-----*/ 

    /* -----Sub information-----*/ 
#content{
    display: flex;
    justify-content: space-between;
}
#sub-information{
    
    padding: 12px 30px;
}
#sub-information>p{
    font-size: 27px;
}
#skill{
    padding: 20px 16px;
}
#sub-information>span{
    padding: 8px;
    background-color: aqua;
}
    /* -----Main information-----*/ 
#main-information{
    margin-right: 100px ;
}
#main-information>p{
    font-size: 30px;
}
#introduce-information{
    display: flex;
    align-items: center;
}
#detail-information{
    margin-left: 20px;
}
#avatar{
    width: 100px;
    height: 100%;
}
